<% content_for :script do %>
<%= javascript_include_tag "graph.js", :debug =>true %>
<%= javascript_include_tag "d3.v2.js", :debug =>true %>
<% end %>

<div id="graph"></div>

<form id="graph_search_box" class="form-search">
  <input type="text" id="graph_search_text" name="keyword" placeholder="Enter a keyword...">
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<script type="text/javascript">
  
// globals
// configuration for our graph object
// set constants here
var graphhandle;
var def = new Object();
var g = null;
def.charge = -30;
def.gravity = 0.01;
def.addThresh = 1;
def.removeThresh = 2;
def.noderadius = 15;
def.basedist = 100;
def.distrange = 100;
def.querypath = "fetch_key.json";
def.graphpath = "fetch_graph.json";
  
  // initialization
$(document).ready(function () {
  
    graphhandle = document.getElementById("graph");
    
    def.width = parseInt(graphhandle.clientWidth);
    def.height = parseInt(graphhandle.clientHeight);
    def.size = [def.width, def.height];
  
    // create a new graph 
    g = new graph(def, "#graph", null);
  
  
});

$("#graph_search_box").submit(function(e) {

    // cancel default action
    e.preventDefault();

    // extract the search
    var query = $("#graph_search_text").val();

    // send an AJAX query to start building the graph
    g.seed(query);


})
  
</script>
