<form id="graph_search_box" class="form-search">
	<input type="text" id="graph_search_text" name="keyword" placeholder="Enter a keyword...">
    <button type="submit" class="btn btn-primary btn-small">Search</button>
</form>

<script>

    // if there's a keyword in the url, make the box reflect that
    $(document).ready(function() {

        var urlkey = getUrlParam("keyword");
        if (urlkey) $("#graph_search_text").val(urlkey);

    });

    // Javascript to make AJAX request

    var form_name = "#search_box_form";

	$(form_name).submit(function(e) {
		// Cancel default form submission action
		e.preventDefault();

		var dataString = $(form_name).serialize();
		// create ajax request
		$.ajax({
			
			url: "<%= fetch_key_path %>",
			data: dataString,
			dataType: "json",
			success: function(data) { alert(data);}

		});


	});

</script>

