<div id="search_box_form">

<form id="search_box">
	<input type="text" id="keyword" name="keyword"/>
	<input type="submit" value="Search">
</form>

</div>

<script>

// Javascript to make AJAX request

	var form_name = "#search_box";

	$(form_name).submit(function() {
		// Cancel default form submission action
		event.preventDefault();

		// create ajax request
		$.ajax({
			
			url: "<%= path_

		});


	});

</script>

