<div id="main">
  <h1 class="center">OnTop search engine</h1>

  <div id="searchbox" class="center">

    <form action="/search" method="get">
      <input id="keyword" name="keyword" type="text" value="bayes" />
      <input id="submit" type="submit" value="Search!" />
    </form>    
    
  </div>

  <div id="footer" >

    <div id="leftinfo">
	  <p id="version" class="flush">Alpha v1.0</p>
	  <p id="updated" class="flush">October 29, 2012</p>
    </div>
  </div>
</div>
