<script>
  $("#tab_home").addClass("active");
</script>

<div class="span12">
  <div class="hero-unit">
    <h1>Welcome to OnTop!</h1>
    <p>OnTop is a graphical way to explore Wikipedia and discover new content.<br>To get started, enter a keyword:</p>
    <%= render :partial => "/search/searchbox_home" %>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Working with Wiki!</h2>
      <p>We took our inspiration from Wikipedia and all that it's done for the Internet community. This is our way of giving back
         to the communtiy and giving thanks to Wikipedia for leading the way.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span6">
      <h2>How're We Doing?</h2>
      <p>Drop us a line or leave us a message and let us know how you think we're doing. If you've got ideas on ho we can improve,
         we'd love to hear them!</p>
      <p><a class="btn" href="#">Feedback &raquo;</a></p>
    </div>
  </div>
</div>

