<script>
  $("#tab_home").addClass("active");
</script>

<div class="span12">
  <div class="hero-unit">
    <h1>Welcome to OnTop!</h1>
    <p>OnTop is a graphical way to explore Wikipedia and to keep track of what your viewing.</p>
    <%= render :partial => "/search/searchbox" %>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
        malesuada magna mollis euismod. Donec sed odio dui.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
        malesuada magna mollis euismod. Donec sed odio dui.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
        malesuada magna mollis euismod. Donec sed odio dui.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>

