<div class="span4">
  <%= render :partial => "/search/search_history" %>
</div>

<div class="span8">
  <%= render :partial => "/search/graph" %>
</div>

<script>
  $("#tab_search").addClass("active");
</script>

