<div class="span3">
  <%= render :partial => "/search/search_history" %>
</div>
<div class="span9">
  <%= render :partial => "/search/graph" %>
</div>

<script>
  $("#tab_search").addClass("active");
</script>

