<p>Search#show</p>

<p></p>
<h1>Welcome to OnTop search engine</h1>

<p> Please enter your keyword in the search box below</p>
<p></p>

<form>
<input type="text" id="keyword" name="keyword"/>
<input type="submit" value="Submit">
</form>


<p>the keyword you just typed is "<%= @key_word %>"</p>
