<% content_for :script do %>
<%= javascript_include_tag "forcegraph", :debug =>true %>

<% end %>

<script>

// globals
// our graph or network
var net;
// canvas handle
var disp;
var textbox;
var dispdiv;

// initialization
$(document).ready(function () {

    net = null;
    dispdiv = document.getElementById("displaydiv");
    disp = document.getElementById("display");

    disp.width = dispdiv.clientWidth;
    disp.height = dispdiv.clientHeight;

	// Javascript to make AJAX request

	var form_name = "#search_box_form";

	$(form_name).submit(function(e) {
		// Cancel default form submission action
		e.preventDefault();

		var dataString = $(form_name).serialize();
		// create ajax request
		$.ajax({
			
			url: "<%= search_fetch_graph_path %>",
			data: dataString,
			dataType: "json",
			success: function(data) {
				// can added anything that's necessary
				refresh(data);
				}
				
		});


	});

});

// refresh keywords and redraw graph
// callback function for our AJAX calls
function refresh(data) {

	console.log(data);
    var g = graph(data);

    g.nodesLayer.draw();
    
    // allow the graph to settle
	console.log(g);
	console.log(this);
    

}

</script>



<%# render 'searchbox' %>

<div id="main">
  <h1 class="center">OnTop Results</h1>

  <div id="displaydiv" class="center">
    <canvas id="display" style="border:1px solid #000000;"></canvas>
  </div>

  <div id="search_box" class="center">
    <form id="search_box_form">
	  <input type="text" id="keyword" name="keyword"/>
	  <input type="submit" value="Search">
    </form>
  </div>

  <div id="footer" >

    <div id="leftinfo">
	  <p id="version" class="flush">Alpha v1.0</p>
	  <p id="updated" class="flush">October 29, 2012</p>
    </div>
  </div>
</div>


