<% content_for :script do %>
<%= javascript_include_tag "forcegraph", :debug =>true %>
<%= javascript_include_tag "kinetic-v4.0.5.min.js", :debug =>true %>

<% end %>

<script>


// globals
// configuration for our graph object
// set constants here
var config = new Object();
config.node = new Object();
config.node.fill = new Object();
config.node.fill.color = new Object();
config.node.fill.color.fresh = "lightskyblue";
config.node.fill.color.visited = "red";
config.node.radius = 30;
config.node.stroke = new Object();
config.node.stroke.color = new Object();
config.node.stroke.width = 4;
config.node.stroke.color.fresh = "royalblue";
config.node.stroke.color.visited = "red";

config.link = new Object();
config.link.visited = "red";
config.link.fresh = "royalblue";
config.link.width = 4;

// graph handle
var g;
// stage handle
var stage;

// canvas handle
var display;

// initialization
$(document).ready(function () {

    display = document.getElementById("display");
    
    stage = new Kinetic.Stage({
        container: "display",
        width: display.clientWidth,
        height: display.clientHeight
    });

	// Javascript to make AJAX request

	var form_name = "#search_box_form";

	$(form_name).submit(function(e) {
		// Cancel default form submission action
		e.preventDefault();

		var dataString = $(form_name).serialize();
		// create ajax request
		$.ajax({
			
			url: "<%= search_fetch_graph_path %>",
			data: dataString,
			dataType: "json",
			success: function(data) {
				// can added anything that's necessary
				refresh(data, stage);
				}
				
		});


	});

    $("#step").click(function () {
        
        g.step();
        // print out nodes locations according to Kinetic
        var node = stage.getChildren()[2].getChildren()[0];
        console.log(node.attrs.x + " " + node.attrs.y);


    });

});

// refresh keywords and redraw graph
// callback function for our AJAX calls
function refresh(data, s) {

    s.removeChildren();
    g = new graph(s, data, config);
    
    
}

</script>


<%# render 'searchbox' %>

<div id="main">
  <h1 class="center">OnTop Results</h1>

  <div id="display"></div>

  <div id="search_box" class="center">
    <form id="search_box_form">
	  <input type="text" id="keyword" name="keyword"/>
	  <input type="submit" value="Search"/>
    </form>
  </div>

    <input type="button" id="step" value="Step">

  <div id="footer" >

    <div id="leftinfo">
	  <p id="version" class="flush">Alpha v1.0</p>
	  <p id="updated" class="flush">October 29, 2012</p>
    </div>
  </div>
</div>


