<script>
  $("#tab_about").addClass("active");
</script>

<div class="span8 offset2">
  <blockquote>
    <h3>Getting information off the Internet is like taking a drink from a fire hydrant.</h3>
    <small>Mitchell Kapor, foundor of Lotus Development Corporation</small>
  </blockquote>
</div>
<div class="span12">
  <h2>About OnTop</h2>
  <p>Within the last decade the Internet has become an integral part of most peoples' lives. 
     From communication to data acquisition, it constitutes the medium by which the world is 
     connected. In traversing the Internet’s web, the introduction of search engines has shown 
     us all related nodes in the network to any query we enter. However, search engines still 
     lack the ability to show us the relations between these nodes. As an example, if one wanted 
     to be able to describe the relationship between certain subjects, such as Bayesian Networks 
     and Markov Blankets, a regular search engine would not be able to distinguish whether one is 
     a subtopic of the other or a precursor. The ability to define these relationships is the next 
     step the Internet needs to take.<br /><br />As a first step towards a solution, we propose a graphical 
     method for defining the relationships of a set of keywords in a query. We intend to describe a 
     network of related keywords connected by links dependent on a metric calculated based on the 
     strength of the relationships between the present keywords. This project will be interactive 
     and allow the user to create custom networks and explore the resulting connections.</p>
</div>
<div class="span12">
  <h2>Team OnTop</h2>
  <p>Member descriptions coming soon...</p>
</div>

