<script>
  $("#tab_about").addClass("active");
</script>

<div class="span8 offset2">
  <blockquote>
    <h3>Getting information off the Internet is like taking a drink from a fire hydrant.</h3>
    <small>Mitchell Kapor, foundor of Lotus Development Corporation</small>
  </blockquote>
</div>
<div class="span12">
  <h2>About OnTop</h2>
</div>
<div class="span12">
  <h2>About the Team</h2>
</div>

