<script>
  $("#tab_about").addClass("active");
</script>

<div class="span8 offset2">
  <h1>Big Title</h1>
  <br>
  <br>
  <h2>About OnTop...</h2>
  <p>Talk about the project</p>
  <br>
  <h2>About the Team...</h2>
  <p>Talk about the team</p>
</div>

