.node circle {
}

.node text {
    font: 20px helvetica;
    font-weight: bold;
}

line.link {
    stroke-width: 5px;
}

line.visited {
    stroke: #FE2E2E;
}

line.new {
    stroke: #0080FF;
}

line.searched {
    stroke: #33CC00;
}

.visited circle {
    stroke: #FE2E2E;
    fill: #FA5858;
}

.new circle {
    stroke: #0080FF;
    fill: #81BEF7;
}

.searched circle {
    stroke: #33CC00;
    fill: #66FF66;
}

#graph {
    display:block;
    border-style: solid;
    border-width: 5px;
    height:100%;
    min-height:600px;
    width:100%;
    margin:0px;
}
